// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Assets
$main-logo-path: "../images/TH-Logo-01.png";

// Colors
$tucker-red:         #bf230f;
$tucker-green:       #41ac15;

// Fonts
$tucker-serif: "Museo Sans";
$tucker-sans: "Calluna Sans";
$tucker-interface: "Proxima Nova";


// // Fonts
// $font-family-sans-serif: "Calluna Sans";
// $font-family-serif:      "Museo Sans";
// $font-family-monospace:  "Soleil";
// $font-family-base:       $font-family-monospace;
//
// $headings-font-family:   $font-family-sans-serif;
