// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Assets
// $main-logo-path: "../images/logo_wordmark-narrow.svg";

// Colors
$tucker-red:         #821d1d;
$tucker-green:       #3e9316;

// Fonts
$tucker-serif: "Museo Sans";
$tucker-sans: "Calluna Sans";
$tucker-interface: "Proxima Nova";

// Miscellaneous Bootstrap Overrides
$link-color: $tucker-green;
$link-hover-color: darken($link-color, 10%);
$link-hover-decoration: none;

// // Fonts
// $font-family-sans-serif: "Calluna Sans";
// $font-family-serif:      "Museo Sans";
// $font-family-monospace:  "Soleil";
$font-family-base: $tucker-interface;
//
// $headings-font-family:   $font-family-sans-serif;
