header.banner {

  // Text styles
  font-family: $tucker-interface;
  font-weight: 600;
  text-transform: uppercase !important;
  letter-spacing: .4px;


  // Logo styles
  .navbar-brand {
    display: block;
    height: 108px;
    width: 210px;
    min-width: 210px;
    background-image: url($main-logo-path);
    background-size: contain;
  }

  // .navbar-toggler {
  //   top: 2.6rem;
  // }


  // Menu layout
  // This works, don't touch it!!
  #tuckerNav {
    .navbar-nav {
      margin-right: auto;
      & > li.menu-item {
        @extend .nav-item;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        & > a {
          @extend .nav-link;
        }
      }
      & > li.menu-item-has-children {
        @extend .dropdown;
        & > a {
          @extend .nav-link;
          @extend .dropdown-toggle;
        }
        & > ul.sub-menu {
          @extend .dropdown-menu;
          @include media-breakpoint-down(md) {
            position: static;
            float: none;
          }
          & > li.menu-item {
            font-weight: 600;
            @extend .dropdown-item;
            a:hover { text-decoration: none; }
          }
        }
      }
    }
  }// That works, don't touch it!!


  // Toggler
  .navbar-toggler {
    position: absolute;
    align-self: flex-end;
    margin-top: 2rem;
  }


  // Push the "Donate" and "Contact" buttons to the far right
  @include media-breakpoint-up(lg) {
    .navbar-nav {
      align-items: center;
      width: 100%;
    }
    li.menu-donate {
      margin-left: auto;
      margin-right: 1rem;
    }
  }
  @include media-breakpoint-down(md) {
    li.menu-donate {
      margin-bottom: 1rem;
    }
  }


  // Buttons
  li.menu-donate,
  li.menu-contact {
    @extend .btn;
    @extend .btn-primary;
    padding-top: 0.25rem !important;
    padding-right: 1.25rem !important;
    padding-bottom: 0.25em !important;
    padding-left: 1.25rem !important;
    border-radius: 0.5rem;
    font-weight: 700;
    background-color: $tucker-green;
    border: 2px solid $tucker-green;
    &:hover, &:active {
      background-color: darken($tucker-green, 10%);
      border-color: darken($tucker-green, 10%);
    }
    &.active { border-color: $tucker-green; }
  }
  li.menu-donate {
    a { color: $white; }
  }
  li.menu-contact {
    a { color: $tucker-green; }
    background: none;
    &:hover {
      a { color: darken($tucker-green, 10%); }
      background: none;
    }
  }


  // Active item
  li.active {
    background-color: $gray-lighter !important;
    &.menu-item-has-children,
    &.menu-donate,
    &.menu-contact { background-color: transparent !important; }
  }


  // Toggle arrows
  a[data-toggle="dropdown"],
  .dropdown-toggle {
    &::after {
      font-family: "FontAwesome";
      content: "\f0d7";
      display: inline-block;
      width: auto;
      height: .6rem;
      margin-left: .25rem;
      margin-top: -1.2rem;
      vertical-align: middle;
      border-top: none;
      border-right: none;
      border-left: none;
    }
    &[aria-expanded="true"]::after {
      content: "\f0d8";
      margin-top: -1.4rem;
    }
  }



}
