// Use for page structure, etc.

div.wrap {


  margin-top: 2rem;


  // Text styles
  main.main {
    font-family: $tucker-interface;
    h1, h2, h3, h4, h5, h6 {
      font-family: $tucker-sans;
      font-weight: 700;
    }
    h1 { font-size: 3.25rem; }
    h2 { font-size: 2.75rem; }
    h3 { font-size: 2.5rem; }
    h4 { font-size: 2.25rem; }
    h5 { font-size: 2rem; }
    h6 { font-size: 1.5rem; }
    p {
      font-family: $tucker-serif;
      margin-bottom: 0;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    // Spacing
    & > * + * {
      margin-top: 1.5rem;
    }
    & > * + h1 {
      margin-top: 4rem;
    }
    & > * + h2 {
      margin-top: 3rem;
    }
    & > * + h3 {
      margin-top: 2.5rem;
    }
    & > * + h4 {
      margin-top: 2.25rem;
    }
    & > * + h5 {
      margin-top: 2rem;
    }
    & > * + h6 {
      margin-top: 2rem;
    }
    & > img + *,
    & > div.carousel + *,
    & > figure + *,
    & > div.embed-container + * {
      margin-top: 2rem;
    }
    & > * + img,
    & > * + div.carousel,
    & > * + figure,
    & > * + div.embed-container {
      margin-top: 2rem;
    }
    & > img + img,
    & > figure + figure,
    & > img + figure,
    & > figure + img {
      margin-top: 1rem;
    }
    // Repeat above rules but for post content
    article,
    article .entry-content {
      & > * + * {
        margin-top: 1.5rem;
      }
      & > * + h1 {
        margin-top: 4rem;
      }
      & > * + h2 {
        margin-top: 3rem;
      }
      & > * + h3 {
        margin-top: 2.5rem;
      }
      & > * + h4 {
        margin-top: 2.25rem;
      }
      & > * + h5 {
        margin-top: 2rem;
      }
      & > * + h6 {
        margin-top: 2rem;
      }
      & > img + *,
      & > div.carousel + *,
      & > figure + *,
      & > div.embed-container + * {
        margin-top: 2rem;
      }
      & > * + img,
      & > * + div.carousel,
      & > * + figure,
      & > * + div.embed-container {
        margin-top: 2rem;
      }
      & > img + img,
      & > figure + figure,
      & > img + figure,
      & > figure + img {
        margin-top: 1rem;
      }
    }
  }



}
