aside.sidebar {
  height: 100%;
  & > * { margin-top: 1rem; }
  &.sidebar-primary {
    background-color: $gray-lightest/*rgba(175, 215, 175, 0.2)*/;
    border-radius: .5rem;
    ul { font-family: $tucker-serif; }
  }
  .custom-button {
    width: 100%;
  }
}

.widget {
  font-family: $tucker-interface !important;
  h3 {
    // font-family: $tucker-interface;
    font-size: 1.625rem;
    font-weight: 600;
  }
}

.widget_search {
  form[role="search"] { justify-content: center; }
}
