aside.sidebar {

  & > * + * { margin-top: 1rem; }

}

section.widget_search {
  form[role="search"] { justify-content: center; }
}

section.widget .social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  & > a + a { margin-left: .375rem; }
  @include media-breakpoint-up(lg) {
    & > a + a { margin-left: 1.25rem; }
  }
  @include media-breakpoint-only(sm) {
    flex-direction: column;
    & > a + a { margin-top: 1rem; }
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $tucker-red;
    border: 2px solid;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    transition: $btn-transition;
    &:hover {
      background-color: $tucker-red;
      i.fa { color: $white; }
    }
  }
  i.fa { color: $tucker-red; }
  .fa-facebook { font-size: 1.5rem; }
  .fa-twitter { font-size: 1.5rem; }
  .fa-instagram { font-size: 1.75rem; }
}
